<header class="flex items-center justify-between p-8">
  <h1 class="text-2xl"><%= category.name %></h1>
  <div>
    <div class="dropdown dropdown-end">
      <button tabindex="0" class="btn btn-ghost btn-circle m-1 opacity-60" aria-label="See options for modifying category"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis-vertical-icon lucide-ellipsis-vertical">
          <circle cx="12" cy="12" r="1" />
          <circle cx="12" cy="5" r="1" />
          <circle cx="12" cy="19" r="1" />
        </svg></button>
      <ul class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm" tabindex="-1">
        <li>
          <a href="/categories/<%= category.id %>/edit-details" class="py-3">Edit details</a>
        </li>
        <li>
          <a href="#" class="py-3">Edit composite items</a>
        </li>
        <li>
          <button class="py-3 delete-btn">Delete category</button>
        </li>
      </ul>
    </div>
    <a role="button" class="btn btn-circle btn-ghost" href="/categories">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x opacity-50">
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
    </a>
  </div>
</header>
<section class="px-8 max-w-3xl -mt-4">
  <p><%= category.description %></p>
</section>
<%- include("../components/compositeItems", { categoryId: category.id, compositeItems }) %>
<%- include ("../components/modals/deleteCategoryModal.ejs", { categoryId: category.id }) %>