<section class="py-8">
  <div class="overflow-x-auto">
    <table class="table table-auto">
      <thead class="uppercase bg-neutral-200 text-neutral-600">
        <tr class="py-4">
          <th class="pl-8">Item name</th>
          <th>SKU</th>
          <th>Weight</th>
          <th>Roastery</th>
          <th>Selling price ($AUD)</th>
          <th>Stock on hand</th>
        </tr>
      </thead>
      <tbody>
        <% compositeItems.forEach(item => { %>
        <tr onclick="window.location='<%= `/items/${item.id}?referredCategoryId=${categoryId}&fromPage=${fromPageName}` %>'" aria-label="See more details of item" class="hover:bg-neutral-100 hover:cursor-pointer">
          <td class="pl-8 py-4"><%= item.name %></td>
          <td><%= item.sku %></td>
          <td><%= Math.round(item.size_grams) %>g</td>
          <td><%= item.roastery %></td>
          <td><%= item.price_dollars %> <span class="decorative-text">/unit</span></td>
          <td><%= item.stock_quantity %></td>
        </tr>
        <%}); %>
      </tbody>
    </table>
  </div>
</section>